*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif; */
    background-color: hsl(233, 47%, 7%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

p{
    font-size: 0.938rem;
    color:hsla(0, 0%, 100%, 0.75);
}


.container{
    margin: 0 auto;
    padding: 0 15px;
    
}





.container .card{
    color: white;
    display: flex;
    background-color: hsl(244, 38%, 16%);
    align-content: center;
    max-height: 70vh;
    max-width: 75rem;
    border-radius: 10px;
}

.container .card .text {
    display: flex;
    flex-direction: column;
    
   
    padding: 3rem;
    width: 60%;
}
.container .card .text  h1{
    width: 60%;
    font-family: 'Lexend Deca', sans-serif;
    
    padding-bottom: 40px;
}
.container .card .text  h1 span{
    color:  hsl(277, 64%, 61%);
}
.container .card .text  p{
    width: 50%;
    font-family: 'Inter', sans-serif;
    padding-bottom: 54px;
}
.container .card .text .numbers{    
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-height: 50%;
    gap: 20px;
 }
 .container .card .text .numbers h2 {
    font-size: 2rem;
 }
 .container .card .text .numbers h2 p{
    font-size: 0.938rem;
    color: hsla(0, 0%, 100%, 0.50);
   font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
 }

.container .card .image {
    background-color:hsl(277, 64%, 61% )

    
}
.container .card .image img{
    height: 100%;
    mix-blend-mode:multiply;
    opacity: .8;
   
   
    
}



